<form action="/<%= @streamer.name %>/edit" method="post">
	<input type="hidden" name="_method" value="put">
	<p>Team</p><input name="streamer[team]" value="<%= @streamer.team %>">
	<select name="streamer[gender]">
	  <option value="<%= @streamer.gender %>"><%= @streamer.gender %></option>
	  <option value=1>M</option>
	  <option value=0>F</option>
	  <option value=3>Tournament</option>
	  <option value=4>Podcast</option>
	</select>

	<p>
	NA Main<input name="streamer[summoner_names][NA][Main]" value="<%= @streamer.summoner_names['NA']['Main'] %>">
	NA Smurf<input name="streamer[summoner_names][NA][Smurf]" value="<%= @streamer.summoner_names['NA']['Smurf'] %>">
	NA Smurf2<input name="streamer[summoner_names][NA][Smurf2]" value="<%= @streamer.summoner_names['NA']['Smurf2'] %>">
	NA Smurf3<input name="streamer[summoner_names][NA][Smurf3]" value="<%= @streamer.summoner_names['NA']['Smurf3'] %>">
	NA Smurf4<input name="streamer[summoner_names][NA][Smurf4]" value="<%= @streamer.summoner_names['NA']['Smurf4'] %>">
	NA Smurf5<input name="streamer[summoner_names][NA][Smurf5]" value="<%= @streamer.summoner_names['NA']['Smurf5'] %>">
	NA Smurf6<input name="streamer[summoner_names][NA][Smurf6]" value="<%= @streamer.summoner_names['NA']['Smurf6'] %>">

	</p>
	<p>
	EUW Main<input name="streamer[summoner_names][EUW][Main]" value="<%= @streamer.summoner_names['EUW']['Main'] %>">
	EUW Smurf<input name="streamer[summoner_names][EUW][Smurf]" value="<%= @streamer.summoner_names['EUW']['Smurf'] %>">
	EUW Smurf2<input name="streamer[summoner_names][EUW][Smurf2]" value="<%= @streamer.summoner_names['EUW']['Smurf2'] %>">
	EUW Smurf3<input name="streamer[summoner_names][EUW][Smurf3]" value="<%= @streamer.summoner_names['EUW']['Smurf3'] %>">
	EUW Smurf4<input name="streamer[summoner_names][EUW][Smurf4]" value="<%= @streamer.summoner_names['EUW']['Smurf4'] %>">
	EUW Smurf5<input name="streamer[summoner_names][EUW][Smurf5]" value="<%= @streamer.summoner_names['EUW']['Smurf5'] %>">
	EUW Smurf6<input name="streamer[summoner_names][EUW][Smurf6]" value="<%= @streamer.summoner_names['EUW']['Smurf6'] %>">
	</p>
	<p>
	EUNE Main<input name="streamer[summoner_names][EUNE][Main]" value="<%= @streamer.summoner_names['EUNE']['Main'] %>">
	EUNE Smurf<input name="streamer[summoner_names][EUNE][Smurf]" value="<%= @streamer.summoner_names['EUNE']['Smurf'] %>">
	EUNE Smurf2<input name="streamer[summoner_names][EUNE][Smurf2]" value="<%= @streamer.summoner_names['EUNE']['Smurf2'] %>">
	EUNE Smurf3<input name="streamer[summoner_names][EUNE][Smurf3]" value="<%= @streamer.summoner_names['EUNE']['Smurf3'] %>">
	EUNE Smurf4<input name="streamer[summoner_names][EUNE][Smurf4]" value="<%= @streamer.summoner_names['EUNE']['Smurf4'] %>">
	EUNE Smurf5<input name="streamer[summoner_names][EUNE][Smurf5]" value="<%= @streamer.summoner_names['EUNE']['Smurf5'] %>">
	EUNE Smurf6<input name="streamer[summoner_names][EUNE][Smurf6]" value="<%= @streamer.summoner_names['EUNE']['Smurf6'] %>">
	</p>
	<p>
	TR Main<input name="streamer[summoner_names][TR][Main]" value="<%= @streamer.summoner_names['TR']['Main'] %>">
	TR Smurf<input name="streamer[summoner_names][TR][Smurf]" value="<%= @streamer.summoner_names['TR']['Smurf'] %>">
	TR Smurf2<input name="streamer[summoner_names][TR][Smurf2]" value="<%= @streamer.summoner_names['TR']['Smurf2'] %>">
	TR Smurf3<input name="streamer[summoner_names][TR][Smurf3]" value="<%= @streamer.summoner_names['TR']['Smurf3'] %>">
	TR Smurf4<input name="streamer[summoner_names][TR][Smurf4]" value="<%= @streamer.summoner_names['TR']['Smurf4'] %>">
	TR Smurf5<input name="streamer[summoner_names][TR][Smurf5]" value="<%= @streamer.summoner_names['TR']['Smurf5'] %>">
	TR Smurf6<input name="streamer[summoner_names][TR][Smurf6]" value="<%= @streamer.summoner_names['TR']['Smurf6'] %>">
	<p>
	RU Main<input name="streamer[summoner_names][RU][Main]" value="<%= @streamer.summoner_names['RU']['Main'] %>">
	RU Smurf<input name="streamer[summoner_names][RU][Smurf]" value="<%= @streamer.summoner_names['RU']['Smurf'] %>">
	RU Smurf2<input name="streamer[summoner_names][RU][Smurf2]" value="<%= @streamer.summoner_names['RU']['Smurf2'] %>">
	RU Smurf3<input name="streamer[summoner_names][RU][Smurf3]" value="<%= @streamer.summoner_names['RU']['Smurf3'] %>">
	RU Smurf4<input name="streamer[summoner_names][RU][Smurf4]" value="<%= @streamer.summoner_names['RU']['Smurf4'] %>">
	RU Smurf5<input name="streamer[summoner_names][RU][Smurf5]" value="<%= @streamer.summoner_names['RU']['Smurf5'] %>">
	RU Smurf6<input name="streamer[summoner_names][RU][Smurf6]" value="<%= @streamer.summoner_names['RU']['Smurf6'] %>">
	</p>
	<p>
	OCE Main<input name="streamer[summoner_names][OCE][Main]" value="<%= @streamer.summoner_names['OCE']['Main'] %>">
	OCE Smurf<input name="streamer[summoner_names][OCE][Smurf]" value="<%= @streamer.summoner_names['OCE']['Smurf'] %>">
	OCE Smurf2<input name="streamer[summoner_names][OCE][Smurf2]" value="<%= @streamer.summoner_names['OCE']['Smurf2'] %>">
	OCE Smurf3<input name="streamer[summoner_names][OCE][Smurf3]" value="<%= @streamer.summoner_names['OCE']['Smurf3'] %>">
	OCE Smurf4<input name="streamer[summoner_names][OCE][Smurf4]" value="<%= @streamer.summoner_names['OCE']['Smurf4'] %>">
	OCE Smurf5<input name="streamer[summoner_names][OCE][Smurf5]" value="<%= @streamer.summoner_names['OCE']['Smurf5'] %>">
	OCE Smurf6<input name="streamer[summoner_names][OCE][Smurf6]" value="<%= @streamer.summoner_names['OCE']['Smurf6'] %>">
	</p>
	<p>
	LAS Main<input name="streamer[summoner_names][LAS][Main]" value="<%= @streamer.summoner_names['LAS']['Main'] %>">
	LAS Smurf<input name="streamer[summoner_names][LAS][Smurf]" value="<%= @streamer.summoner_names['LAS']['Smurf'] %>">
	LAS Smurf2<input name="streamer[summoner_names][LAS][Smurf2]" value="<%= @streamer.summoner_names['LAS']['Smurf2'] %>">
	LAS Smurf3<input name="streamer[summoner_names][LAS][Smurf3]" value="<%= @streamer.summoner_names['LAS']['Smurf3'] %>">
	LAS Smurf4<input name="streamer[summoner_names][LAS][Smurf4]" value="<%= @streamer.summoner_names['LAS']['Smurf4'] %>">
	LAS Smurf5<input name="streamer[summoner_names][LAS][Smurf5]" value="<%= @streamer.summoner_names['LAS']['Smurf5'] %>">
	LAS Smurf6<input name="streamer[summoner_names][LAS][Smurf6]" value="<%= @streamer.summoner_names['LAS']['Smurf6'] %>">
	</p>
	<p>
	LAN Main<input name="streamer[summoner_names][LAN][Main]" value="<%= @streamer.summoner_names['LAN']['Main'] %>">
	LAN Smurf<input name="streamer[summoner_names][LAN][Smurf]" value="<%= @streamer.summoner_names['LAN']['Smurf'] %>">
	LAN Smurf2<input name="streamer[summoner_names][LAN][Smurf2]" value="<%= @streamer.summoner_names['LAN']['Smurf2'] %>">
	LAN Smurf3<input name="streamer[summoner_names][LAN][Smurf3]" value="<%= @streamer.summoner_names['LAN']['Smurf3'] %>">
	LAN Smurf4<input name="streamer[summoner_names][LAN][Smurf4]" value="<%= @streamer.summoner_names['LAN']['Smurf4'] %>">
	LAN Smurf5<input name="streamer[summoner_names][LAN][Smurf5]" value="<%= @streamer.summoner_names['LAN']['Smurf5'] %>">
	LAN Smurf6<input name="streamer[summoner_names][LAN][Smurf6]" value="<%= @streamer.summoner_names['LAN']['Smurf6'] %>">
	</p>
	<p>
	BR Main<input name="streamer[summoner_names][BR][Main]" value="<%= @streamer.summoner_names['BR']['Main'] %>">
	BR Smurf<input name="streamer[summoner_names][BR][Smurf]" value="<%= @streamer.summoner_names['BR']['Smurf'] %>">
	BR Smurf2<input name="streamer[summoner_names][BR][Smurf2]" value="<%= @streamer.summoner_names['BR']['Smurf2'] %>">
	BR Smurf3<input name="streamer[summoner_names][BR][Smurf3]" value="<%= @streamer.summoner_names['BR']['Smurf3'] %>">
	BR Smurf4<input name="streamer[summoner_names][BR][Smurf4]" value="<%= @streamer.summoner_names['BR']['Smurf4'] %>">
	BR Smurf5<input name="streamer[summoner_names][BR][Smurf5]" value="<%= @streamer.summoner_names['BR']['Smurf5'] %>">
	BR Smurf6<input name="streamer[summoner_names][BR][Smurf6]" value="<%= @streamer.summoner_names['BR']['Smurf6'] %>">
	</p>

	<input type="password" name="password" value="">
	<input type="submit">
</form>